/* ***************************************************************************
	BIG COLORS
  *************************************************************************** */

:root{
    --ui-main-color: #60A4E8;
    --ui-second-color: #76DEFF;
    --ui-third-color: #6A8DFF; 
    --ui-button-active-color: #6000FF;
}
.FestMainColor, .festmaincolor { color: rgba(105, 150, 27, 1); color: var(--ui-main-color); }
.FestSecondColor, .festsecondcolor { color: #335a0c; color: var(--ui-second-color); }


