<div>
<p>Esta web se ha creado para ofrecer un servicio a los usuarios que hasta ahora estaba disperso por internet y nadie habia puesto de forma comoda a disposicion de los usuarios.</p>
Se trata de un nuevo servicio que he publicado para la comprobación de festivos a nivel nacional e internacional.</p>
<p>¿Para que puede ser util este servicio?</p>
<ul>
<li>Para call centers que emiten llamadas comerciales a clientes. Según la <b>Ley 3/2014 por la que se modifica la ley de Consumidores y Usuarios, Artículo 96.2:</b>
<br>"En el caso de comunicaciones telefónicas, deberá precisarse explícita y claramente, al inicio de cualquier conversación con el consumidor y usuario, la identidad del empresario, o si procede, la identidad de la persona por cuenta de la cual efectúa la llamada, así como indicar la finalidad comercial de la misma. <b>En ningún caso, las llamadas telefónicas se efectuarán antes de las 9 horas ni más tarde de las 21 horas ni festivos o fines de semana."</b></li>
<li>Para transportistas que deseen saber si es festivo en una determinada zona para poder posponer el transporte</li>
<li>Para despachos de abogados de propiedad intelectual que necesitan tener conocimiento de los festivos nacionales e internacionales para el cálculo de plazos de presentación de documentos o renovación de registros. </li>
<li>Para una aplicación movil informativa</li>
<li>...</li>
</ul>
<p>En definitiva, este servicio, al ser adaptable e importable a cualquier tipo de proyecto que se quiera desarrollar, es util para cualquier propósito que se pueda pensar.</p>
<p>Además, usando este servicio, el usuario se despreocupa de la gestión de la BBDD de festivos, con lo cual, se ahorra tiempo y preocupaciones.

</div>